@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}


.mainHeader {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: lightslategray;
    margin-bottom: 2%;
    text-align: center;
}


.mainHeader h1 {
    width: 92%;
    margin: 2% auto;
    color: #FFF;
}


.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.list_body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: -moz-linear-gradient(left, #25c481, #25b7c4);
    background: -o-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form_body{
    background-color: #f8f8ff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.form_body form div{
    margin: 5px;
}

.form_body form div input{
    margin: 10px;
}

.form_area{
    width: 60%;
}

.list_body p {

    text-align: center;
}

.answers_body{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button:hover, input[type=submit]:hover {
    background-color:linear-gradient(to right, #25c481, #25b7c4);
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    color:#FFF;
}


button, input[type=submit] {
    background-color: lightgreen;
    border: 1px;
    border-radius: 5px;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.mainFooter {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:lightslategray;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}


table{
  width:100%;
  table-layout: fixed;
}


.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }


.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

.tbl-content_for_details{
  height: auto;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color:black;
  text-transform: uppercase;
}


td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color:black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


.user_detail{

    text-decoration: none;
    color: black;
}


section{
  margin: 50px;
}


.mainFooter p {
    width: 92%;
    margin: 2% auto;
    color: #FFF;
}

.post-info {
font-style: italic;
color: #25c481;
font-size: 80%;

}

.top_button_list{
    text-align: center;
}
.details{
    text-align: center;
}

.question_details{
    background-color: #66d2bb;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
    display: inline-block;
}

.question_details h4{
    display: inline-block;
}

.vote_wrapper{
    display: inline-block;
}

.vote_wrapper form{
    display: inline-block;
    transform: scale(0.6);
}


/* for user page, check input */
.user_name_body input:invalid{
    border-color: #DD2C00;
    border-width: thick;
    padding: 5px;
}

.user_name_body input,
.user_name_body input:valid{
    border-color: #ccc;
    border-width: thick;
    padding: 5px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 