<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Your answer</title>
</head>
<body>
    <h2>{{ question[4] }}</h2>
    <p> {{ question[5] }}</p>
    <h3>Your Answer</h3>
    <form action="/question/new_id" method="POST">
        <textarea name="answer" required minlength="10" rows="15" cols="92"></textarea>
        <p>
            <button type="submit" name="button" value="{{ question[0] }}">Post Your Answer</button>
            <button name="index" onclick="location.href='/'" type="button">Back to Index</button>
        </p>
    </form>
</body>
</html>
