<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style3.css') }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="blue_body">
    {% block body %}{% endblock %}
<footer class="mainFooter">

<p>Copyright &copy; Mittu-Domain CoDeCoOlL</p>

</footer>
</body>
