{% extends "base.html" %}
{% block title %} AskMate v.03 {% endblock %}
{% block body %}
<header class="mainHeader">
    <h1>ASK MATE</h1>
</header>
<div class="top_button_list">
    <button name="new_user_name" onclick="location.href='/registration'" type="button">Registration</button>
    <button name="list_users" onclick="location.href='/users'" type="button">List Users</button>
</div>
<div class="list_body">
    <button name="new_question" onclick="location.href='/question/new'" type="button">Ask a question</button>
    <button name="{{ form_action }}" onclick="location.href='{{ form_action }}'" type="button">{{ button_caption }}</button>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                {% for header in questions['header'] %}
                    {% if loop.index != 7 %}
                    <th>
                        {{ header }}
                        <!--<a href="/dummy_url"> <img src={{ url_for("static", filename="arrow_up.ico" ) }} alt="Ascending order" width="30" height="30" title="Ascending order"></a>
                        <a href="/dummy_url"> <img src={{ url_for("static", filename="arrow_down.ico" ) }} alt="Descending order" width="30" height="30" title="Descending order"></a>-->
                    </th>
                    {% endif %}
            {% endfor %}
            <th>View Question</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        {% for row in questions['result_set'] %}
            <tr>
                {% for data in row %}
                    {% if loop.index != 7 %}
                    <td>{{ data }}</td>
                    {% endif %}
                    {% if loop.index == row|length %}
                    <td><button name="index_button" onclick="location.href='/question/{{ row[0] }}'" type="button">View</button></td>
                    <td><a href="/question/{{ row[0] }}/edit"> <img src={{ url_for("static", filename="edit.png" ) }} alt="edit" width="30" height="30" title="edit"></a></td>
                    <td>
                        <form  action="/question/{{ row[0] }}/delete" method="POST" name="delete_button">
                            <input type="image" src={{ url_for("static", filename="delete.png") }} alt="Delete" width="30" height="30">
                        </form>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
