<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>AskMate</title>
</head>
<body>
    <div class="heading">
        <h2>AskMate</h2>
    </div>
    <div class="list_body">
        <button name="new_question" onclick="location.href='/question/new'" type="button">Ask a question</button>
        <button name="{{ form_action }}" onclick="location.href='{{ form_action }}'" type="button">{{ button_caption }}</button>
        <table maxlength="20">
            <tr>
                {% for header in questions['header'] %}
                    <!--Omit message text header-->
                    {% if loop.index != 6 %}
                    <th>
                        {{ header }}
                        <br>
                        <a href="/dummy_url"> <img src={{ url_for("static", filename="arrow_up.ico" ) }} alt="Ascending order" width="30" height="30" title="Ascending order"></a>
                        <a href="/dummy_url"> <img src={{ url_for("static", filename="arrow_down.ico" ) }} alt="Descending order" width="30" height="30" title="Descending order"></a>
                    </th>
                    {% endif %}
                {% endfor %}
                <th>View Question</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for row in questions['result_set'] %}
                <tr>
                    {% for data in row %}
                        <!--Omit message text-->
                        {% if loop.index != 6 %}
                        <td>{{ data }}</td>
                        {% endif %}
                        {% if loop.index == row|length %}
                        <td><button name="index_button" onclick="location.href='/question/{{ row[0] }}'" type="button">View</button></td>
                        <td><a href="/question/{{ row[0] }}/edit"> <img src={{ url_for("static", filename="edit.png" ) }} alt="edit" width="30" height="30" title="edit"></a></td>
                        <td>
                            <form  action="/question/{{ row[0] }}/delete" method="POST" name="delete_button">
                                <input type="image" src={{ url_for("static", filename="delete.png") }} alt="Delete" width="30" height="30">
                            </form>
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
