{% extends "base.html" %}
{% block title %} {{ question.title }} {% endblock %}
{% block body %}
<div class="details">
    <div class="question_details">
        <h3>{{ question.title }}</h3>
        <div class="question_description">
            <h4>
                Vote number: {{ question.vote_number }}
                Author: {{ author }}
            </h4>
            <div class="vote_wrapper">
                <form action="/question/{{ question.id }}/vote-up" method="post">
                    <button name="vote_up" value="Vote up">
                        <img src={{ url_for("static", filename="arrow_up.ico" ) }} alt="Vote up" width="30" height="30" title="Vote up">
                    </button>
                </form>
                <form action="/question/{{ question.id }}/vote-down" method="post">
                    <button name="vote_down" value="Vote down">
                        <img src={{ url_for("static", filename="arrow_down.ico" ) }} alt="Vote down" width="30" height="30" title="Vote down">
                    </button>
                </form>
            </div>
        </div>
        <p> {{ question.message }}</p>
        <button name="answer_form" onclick="location.href='/question/{{ question.id }}/new_answer'" type="button">Answer this question</button>
        <button name="index_button" onclick="location.href='/question/{{ question.id }}/new-comment'" type="button">Add comment to question</button>
        <button onclick=location.href='/question/{{ question_id }}/edit' type="button">Edit question</button>
    </div>
    <div class="question_comments">
        {% if question_comments.result_set|length %}
        <h2>Comments to question</h2>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    {% for header in question_comments.header %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </thead>
            </table>
        </div>
        <div class="tbl-content_for_details">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for comment in question_comments.result_set %}
                    <tr>
                        {% for item in comment %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="answers_body">
        {% if answers.result_set|length %}
        {% for result in answers.result_set %}
            <div class="tbl-header">
                <h2 class="answer_head">Answers</h2>
                <table cellpadding="0" cellspacing="0" border="0">
                    {% if result.comments|length %}
                    <thead>
                        {% for column_name in answers.header %}
                            <th>{{ column_name }}</th>
                        {% endfor %}
                        <th></th>
                        <th>Vote</th>
                    </thead>
                    {% endif %}
                </table>
            </div>
            <div class="tbl-content_for_details">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        {% for column in result.answer %}
                            <td>{{ column }}</td>
                        {% endfor %}
                        <td><button name="index_button" onclick="location.href='/answer/{{ result.answer[0] }}/new-comment'" type="button">Add comment</button></td>
                        <td class="vote_wrapper">
                            <form action="/answer/{{ result.answer[0] }}/vote-up" method="post">
                                <button name="vote_up" value="Vote up">
                                    <img src={{ url_for("static", filename="arrow_up.ico" ) }} alt="Vote up" width="30" height="30" title="Vote up">
                                </button>
                            </form>

                            <form action="/answer/{{ result.answer[0] }}/vote-down" method="post">
                                <button name="vote_down" value="Vote down">
                                    <img src={{ url_for("static", filename="arrow_down.ico" ) }} alt="Vote down" width="30" height="30" title="Vote down">
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if result.comments|length %}
            <div class="tbl-header">
                <h2>Comments to answer</h2>
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <th>Id</th>
                        <th>Author</th>
                        <th>Message</th>
                        <th>Submission time</th>
                    </thead>
                </table>
            </div>
            <div class="tbl-content_for_details">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                            {% for comment in result.comments %}
                                <tr>
                                {% for column in comment %}
                                    <td>{{ column }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            {% endif %}
        {% endfor %}
        {% else %}
            <h3 style="color: black">Be the first on the InterWeb who has the answer for this Question!</h3>
        {% endif %}
    </div>
    <button class="back_to_index" name="index" onclick="location.href='/'" type="button">Back to Index</button>
</div>
{% endblock %}
