{% extends "base.html" %}
{% block title %} Users List {% endblock %}
{% block body %}
<header class="mainHeader">
    <h1>ASK MATE USERS</h1>

</header>
    <section>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    {% for header in questions['header'][1:] %}
                    <th>
                        {{ header }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% for row in questions['result_set'] %}
                    <tr><a href="/">
                        {% for data in row[1:] %}
                        <td><a class="user_detail" href="/users/{{row[0]}}">{{ data }}</a></td>
                        {% endfor %}
                    {% endfor %} 
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    </section>
<button name="{{ form_action }}" onclick="location.href='{{ form_action }}'" type="button">{{ button_caption }}</button>
{% endblock %}